@{
    ViewData["Title"] = "About Us";
}

<div class="container mx-auto text-center py-8">
    <h2 class="text-3xl font-semibold text-gold">About Energia Ventosa</h2>
    <div class="relative my-8">
        <img src="~/img/windmillHome.jpeg" alt="Windmill Image" class="rounded-md w-full h-96 object-cover">
    </div>
    <div class="text-xl text-gray-200 px-6">
        <p>
            Energia Ventosa is committed to sustainable energy solutions. Through our wind farms, we generate energy that is both efficient and eco-friendly. Our turbines are strategically placed to harness the best wind currents, and we continually innovate to push the boundaries of renewable energy.
        </p>
    </div>
</div>
